# 최대값 찾기

In [1]:
ca=[10,17,13,11]
maxer = ca[0]
if maxer < ca[1]:
    maxer=ca[1]

print(maxer)

17

In [2]:
ca=[10,17,13,11]
maxer = ca[0]
for i in ca:
    if maxer < i:
        maxer=i

print(maxer)

17

# 원소의 갯수를 모를 경우

In [3]:
print(max(ca))

17

In [4]:
#del <max>

In [10]:
ca=[21,10,11,15,13]

minix=ca[0]

for sb in range(1,len(ca)):
    if minix > ca[sb]:
        minix=ca[sb]

print(minix)
print(ca.index(10))
#print(ca.find(10))

10
1

# 딕셔너리를 매개변수로 사용하는 방법

In [12]:
a={
    'mon':'월',
    'tue':'화',
    'wed':'수',
}

print(a)

{'mon': '월', 'tue': '화', 'wed': '수'}

In [13]:
x=a
print(x)

{'mon': '월', 'tue': '화', 'wed': '수'}

In [14]:
x['mon']='일'
print(x)
print(a)

{'mon': '일', 'tue': '화', 'wed': '수'}
{'mon': '일', 'tue': '화', 'wed': '수'}

In [16]:
a={
    'mon':'월',
    'tue':'화',
    'wed':'수',
}

print(a)

{'mon': '월', 'tue': '화', 'wed': '수'}

In [17]:
x=a
print(x)

{'mon': '월', 'tue': '화', 'wed': '수'}

In [ ]:
def fch(x):
    x['mon']='일'

In [18]:
def my_func(*args):
    for arg in args:
        print(arg)

my_func(1,2,3,4,5)

1
2
3
4
5

In [21]:
def my_func2(**kwargs):
    for key,value in kwargs.items():
       # print('key : ',key,' value : ',value)
        print(key,' : ',value)

In [22]:
my_func2(name='john',age=30, gender='Male',loc='seoul')

name  :  john
age  :  30
gender  :  Male
loc  :  seoul

In [27]:
def my_func3(*args,**kwargs):
    for arg in args:
        print(arg, end=' ')
    print()
    for k,v in kwargs.items():
        print(k,' : ',v)

In [28]:
my_func3(1,2,3,4,5,name='john',age=30, gender='Male',loc='seoul')

1 2 3 4 5
name  :  john
age  :  30
gender  :  Male
loc  :  seoul